# Add these lines
venv/
.venv/
# Ignore macOS system files
.DS_Store

# Ignore dataset and large files
*.zip
UCI HAR Dataset*
human+activity+recognit*

# Ignore all processed data and large files
data/processed/
UCI HAR Dataset/
*.npy
*.joblib
*.csv
*.zip
.DS_Store
