# Add these lines
venv/
.venv/
# Ignore macOS system files
.DS_Store

# Ignore dataset and large files
*.zip
UCI HAR Dataset*
human+activity+recognit*

# Ignore all processed data and large files
data/processed/
data/__pycache__/
UCI HAR Dataset/
*.npy
*.joblib
*.csv
*.zip
.DS_Store

#pre-loaded data
models/centralized_har_cnn.pt
models/centralized_har_cnnlstm_raw.pt
models/centralized_har_cnnlstm_best.pt
models/centralized_har_deepmlp.pt
models/centralized_har_fnn.pt

